@keyframes like-outline
{
    0%
    {
       opacity: 1;
       transform: translateX(-20px);
    }
    
    100%
    {
        opacity: 0;
        
    }
}

@keyframes like-solid
{
    0%
    {
        opacity: 0;
        
    }
    
    100%
    {
        opacity: 1;
    }
}