@keyframes like-outline
{
    0%
    {
       opacity: 1;
       transform: translateX(-20px);
    }
    
    100%
    {
        opacity: 0;
        
    }
}

@keyframes like-solid
{
    0%
    {
        opacity: 0;
        
    }
    
    100%
    {
        opacity: 1;
    }
}


/*FadeIn animation*/
.fadein 
{
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1.2s ease forwards;
}
@keyframes fadein 
{
    100% 
    {  
        opacity: 1;
        transform: translateY(0);
    }
}

/*Definition of Delay*/
.menu01 {animation-delay: .3s;}
.menu02 {animation-delay: .6s;}
.menu03 {animation-delay: .9s;}
.menu04 {animation-delay: 1.2s;}
