.main
{
    img
    {
        width: 100%;
        object-fit: cover;
        @include responsiveness('large')
        {
            height: 50vh;
        }
    }
}
.mainContainer
{
    transform: translateY(-4rem);
    border-radius: 3rem 3rem 0 0;
    background-color: #F6F6F6;
    margin-bottom: -7rem;
    @include responsiveness('large')
    {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        gap: 4rem;
        margin-bottom: -4rem;
    }
    .title
    {
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
       
        margin: 0 auto;
        font-family: $LogoTitleFont;
        letter-spacing: .7px;
        font-size: 1.2rem;
        width: 85%;
        @include responsiveness('large')
        {
            width: 50rem;
        }
    }

    .entrees,
    .mainDish,
    .desserts
    {
        animation: slideUp .5s linear 1;
        width: 85%;
        margin: 0 auto;
        margin-bottom: 3rem;
        @include responsiveness('large')
        {
            width: 50rem;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
        }
    }

    .entrees h3,
    .mainDish h3,
    .desserts h3
    {
        font-weight: 300;
        width: 100%;
        // width: 50rem;
        margin: 0 auto;
        &::after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            margin-left: 0; /* This will center the border. */
            width: 2.8rem; /* Change this to whatever width you want. */
            padding-top: .5rem; /* This creates some space between the element and the border. */
            border-bottom: 3px solid darken($TertiaryColor, 10%); /* This creates the border. Replace black with whatever color you want. */
        }
        @include responsiveness('large') 
        {
            width: 50rem;
        }
    }
}
.button
{
    text-align: center;
    padding: 2rem 0 4rem 0;
    width: 100%;
}

.menuCard 
{
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: .25s;
    @include responsiveness('large') 
    {
        width: 50rem;
    }
    .middle 
    {
        position: absolute;
        bottom: 0;
        left: calc(100% - 4rem);
        right: 0;
        background-color: $TertiaryColor;
        width: 4rem;
        height: 100%;
        transform-origin: 100% 50%;
        border-radius: 0 16px 16px 0;
        z-index: 10;
        transform: translateX(6rem); 
        // transition: all 1s ease;
        transition: all .25s ease-in-out;
        opacity: 0;
    }

    .background
    {
        z-index: 1;
        background-color: white;
        height: 5rem;
        width: 100%;;
        position: relative;
        border-radius: 16px; 
        @include responsiveness('large') 
        {
            width: 50rem;
        }
    }
    .card
    {
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        border-radius: 16px;
        @include responsiveness('large') 
        {
            width: 50rem;
        }

        .menuCard__left
        {
            display: flex;
            flex-flow: column wrap;
            gap: .8rem;
            justify-content: center;
            padding-left: 1rem;
            height: 5rem;
            font-size: .9rem;
            @include responsiveness('medium') 
            {
                font-size: 1.2rem;
            }
        }
        .menuCard__right
        {
            padding: 1rem;
            display: flex;
            transform: translateX(0);
            transition: all .25s ease-in-out;
            // transition: all 1s ease;
            font-size: .9rem;
            @include responsiveness('medium') 
            {
                font-size: 1.2rem;
            }
        }
    }

    &:hover 
    { 
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
        cursor: pointer;
        .middle 
        {
            height: 5rem;
            z-index: 10;
            opacity: 1;
            transform: translateX(0);
        }
        .menuCard__right
        {
            transform: translateX(-4rem);
            // transition: all 1s ease;
            background-color: #fff;
        }
       

        .fa-check-circle
        {
            animation: rotate .3s linear 1;
        }
        .point
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 11rem;
            @include responsiveness('medium') 
            {
                width: 30rem;
            }
            @include responsiveness('large') 
            {
                width: 30rem;
            }
        }
    }

    .text 
    {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        z-index: 10;
    }
}