.pageLayout
{
    display: flex;
    flex-flow: column wrap;
}

.main
{
   
    img
    {
        width: 100%;
        object-fit: cover;
    }
    h3
    {
        margin-left: 5%;
      
    }
}
.mainContainer
{
    transform: translateY(-4rem);
    background-color: grey;
    border-radius: 3rem 3rem 0 0;
    background-color: #F6F6F6;
    margin-bottom: -4rem;
    .title
    {
        padding-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        font-family: $LogoTitleFont;
        letter-spacing: .7px;
        font-size: 1.2rem;
    }
    .entrees h3,
    .mainDish h3,
    .desserts h3
    {
        font-weight: 300;
        &::after {
            content: ""; /* This is necessary for the pseudo element to work. */ 
            display: block; /* This will put the pseudo element on its own line. */
            margin-left: 0; /* This will center the border. */
            width: 2.8rem; /* Change this to whatever width you want. */
            padding-top: .5rem; /* This creates some space between the element and the border. */
            border-bottom: 3px solid darken($TertiaryColor, 10%); /* This creates the border. Replace black with whatever color you want. */
        }
    }
}
.button
{
    text-align: center;
    padding: 2rem 0 4rem 0;
}