.catButton
{
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: #fff;
    padding: 1rem 1.3rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    letter-spacing: .5px
}