.primaryButton
{
    background: $buttonColor;
    border: none;
    color: #fff;
    padding: 1rem 1.3rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    letter-spacing: .5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:hover
    {
        @include buttonHover;
    }
    
    &__order
    {
        padding: 1rem 2rem;
        width: 45vw;
        margin: 0;
    }
}
