.primaryButton
{
    background: $buttonColor;
    border: none;
    color: #fff;
    padding: 1rem 1.3rem;
    border-radius: 2rem;
    cursor: pointer;
    letter-spacing: .5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: 1s ease;
    width: 12rem;
    margin: 0 auto;
    @include responsiveness('large') 
    {
        width: 22rem;
    }


    &:hover
    {
        @include buttonHover;
    }
    
    &__order
    {
        padding: 1rem 4rem;
        @include responsiveness('large') 
        {
            width: 20vw;

        }

    }
    @include responsiveness('large') 
    {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 4rem;
    }
}
