.menuCard
{
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: 1rem auto;
    border-radius: 1rem;
    &__heading
    {
        font-size: 1.2rem;
        font-weight: 700;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    &__content
    {
        display: flex;
        flex-flow: row wrp;
        justify-content: space-between;
        padding: .5rem 1rem 1rem 1rem;
    }

}