.menuCard
{
    // width: 90%;
    height: 5rem;
    margin: 1rem auto;
    border-radius: 1rem;
    .card
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__left
    {
        font-size: 1.2rem;
        width: auto;
        p:nth-child(1)
        {
            font-weight: 700;
        }
        p:nth-child(2)
        {
            font-weight: 300;
        }
    }
    &__right
    {
        line-height: 5rem;
        font-weight: 700;
    }
}
