
body
{
    font-family: $TextFont;
    color: $FontColor;
}

.pl-regular
{
    padding-left: 1.5rem;
}

.pl-small
{
    padding-left: 1rem;
}

.pb-small
{
    padding-bottom: .4rem;
}

.mt-regular
{
    margin-top: 1.5rem;
}
