#loading 
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 1s ease-in 1s both;
    position: absolute;
    z-index: 1000;

  div 
  {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: #000;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;

    &:nth-child(2) 
    {
      animation-delay: 0.2s;
    }

    &:nth-child(3) 
    {
      animation-delay: 0.4s;
    }
  }
}

@keyframes bounce 
{
  to 
  {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}


@keyframes loader 
{
  0% 
  {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: white;

  }
  70%
  {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    opacity: 1;
 
  }
  90%
  {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    opacity: 0.1;
 
  }
  100% 
  { 
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    visibility: hidden;
  }
}
