.footerSection
{
    background-color: $FooterBackgroundColor;
    color: #fff;
    padding: 1.5rem;
    letter-spacing: .5px;
    &__img
    {
    
        @include responsiveness('medium')
        {
            text-align: center;
        }
        @include responsiveness('large')
        {
            text-align: center;
        }
    }
    @include responsiveness('large')
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-content: center;
        .footerSection__img
        {
            grid-column: 1 / 2;
        }
        .footerSection__menu
        {
            grid-column: 2 / 5;
        }
    }

    img
    {
        filter: grayscale(1) invert(1);
        height: 3vh;
        margin-bottom: 1rem;
        @include responsiveness('medium')
        {
            margin-bottom: 1.5rem;
        }
        @include responsiveness('large')
        {
            margin: 0;
        }
    }
    &__menu
    {
        @include FlexCenter(column);
        gap: .5rem;
        @include responsiveness('medium')
        {
            flex-direction: row;
        }
        @include responsiveness('large')
        {
            display: grid;
            grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            // grid-template-columns: repeat(8, 1fr);
            grid-template-rows: auto;
            text-align: right;
            justify-content: center;
            align-content: center;
            .one 
            {
                grid-column: 2 / 4;
            }
            .two 
            {
                grid-column: 4 / 6;
            }
            .three 
            {
                grid-column: 6 / 7;
            }
            .four 
            {
                grid-column: 7 / 8;
            }
        }
    }
    &__menu--thin
    {
        font-weight: 300;
        a
        {
            color: #fff;
            text-decoration: none;
        }
    }
    @include responsiveness('large')
    {
        padding: 2.5rem;
    }
}