.footerSection
{
    background-color: $FooterBackgroundColor;
    color: #fff;
    padding: 1.5rem;
    letter-spacing: .5px;
    &__img
    {
    
        @include responsiveness('medium')
        {
            text-align: center;
        }
        @include responsiveness('large')
        {
            text-align: center;
        }
    }
    img
    {
        filter: grayscale(1) invert(1);
        height: 3vh;
        margin-bottom: 1rem;
        @include responsiveness('medium')
        {
            margin-bottom: 1.5rem;
        }
        @include responsiveness('large')
        {
            margin: 0;
        }
    }
    &__menu
    {
        @include FlexCenter(column);
        gap: .5rem;
        @include responsiveness('medium')
        {
            flex-direction: row;
        }
        @include responsiveness('large')
        {
            @include FlexCenter;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.2rem;
            margin-top: 2rem;
        }
    }
    &__menu--thin
    {
        font-weight: 300;
        a
        {
            color: #fff;
            text-decoration: none;
        }
    }
    @include responsiveness('large')
    {
        padding: 2.5rem;
    }
}