.header
{
    width: 100%;
    height: 4rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
    margin-bottom: 4px;
    img
    {
        width: 9rem;
        height: 4rem;
    }
    &__menu
    {
        display: grid;
        grid-template: 4rem 1fr / repeat(3, 1fr);
        .backIcon
        {
            text-align: left;
            line-height: 4rem;
            font-size: 1.2rem;
            padding-left: 1.5rem;
        }
    }
}