.header
{
    width: 100%;
    height: max-content;
    text-align: center;
    width: 100vw;
    &__img
    {
        box-shadow: $HeaderShadow;
        margin-bottom: 4px;
        height: 4rem;
        @include FlexCenter(column);
        &__restaurant
        {
            box-shadow: none;
        }
    }
    &__menu
    {
        display: grid;
        grid-template: 4rem 1fr / repeat(3, 1fr);
    }
    a
    {
        color: #000;
        
        text-decoration: none;
    }
    .location
    {
        background-color: #EAEAEA;
        padding: 1rem 0;
        @include responsiveness('large')
        {
            font-size: 1.2rem;
            padding: .5rem 0;
            height: 3rem;
            line-height: 2rem;
        }
    }
}

.backIcon
{
    text-align: left;
    line-height: 4rem;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    @include responsiveness('large')
    {
        font-size: 1.5rem;
        padding: .5rem 0;
        height: 3rem;
        line-height: 3rem;
        padding-left: 1.5rem;
    }
}

