.hero
{
    text-align: center;
    background-color: #F6F6F6;
    .location
    {
        background-color: #EAEAEA;
        padding: 1rem 0;
    }
    &__heading
    {
        margin: 2rem 0;
    }
    &__byline
    {
        margin: 2rem 0;
        padding: 0 2rem;
        font-weight: 200;
    }
}