.hero
{
    text-align: center;
    background-color: lighten(lighten(#545454, 30%), 30%);
    .location
    {
        background-color: lighten(#545454, 50%);
        padding: 1rem 0;
    }
    &__heading
    {
        margin: 2rem 0;
    }
    &__byline
    {
        margin: 2rem 0;
        padding: 0 2rem;
        font-weight: 200;
    }
}