.hero
{
    text-align: center;
    background-color: #F6F6F6;
    padding: 3rem;
    @include responsiveness('large')
    {
        background-image: url(../../dist/img/restaurants/bastille.jpg);
        color: #fff;
        height: 80vh;
        &__background
        {
            background-color: #000;
            opacity: .5;
        }
    }
    &__heading
    {
        // padding: 2rem 0;
        @include responsiveness('large')
        {
            font-size: 3rem;
            padding: 0;
            margin-bottom: 1.5rem;
        }
    }
    &__byline
    {
        // margin: 2rem 0;
        // padding: 0 2rem;
        font-weight: 200;
        @include responsiveness('large')
        {
            font-size: 1.7rem;
            letter-spacing: .3px;
            font-weight: 400;
            margin-bottom: 2rem;
        }
    }
    &__body
    {
        @include responsiveness('large')
        {
            height: 35vh;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
           
            // padding: 2rem 0;
        }
    }
}