.process
{
    margin: 0 1rem 3rem 1rem;
    padding-top: 1rem;
    &__heading
    {
        font-size: 1.5rem;
        padding: 2rem 0 1.5rem 0;
        @include responsiveness('medium')
        {
            text-align: center;
        }
        @include responsiveness('large') 
        {
            text-align: center;
            padding: 3rem 0;
            // font-size: 1.5rem;
            font-size: 2rem;
        }
    }
    &__list
    {
        background-color: #F6F6F6;
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        border-radius: 1.5rem;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0,0,0,.1);
        font-weight: 500;
        font-size: 1.1rem;
        &.activeList
        {
            background-color: rgba($PrimaryColor, .1);
        }
        @include responsiveness('medium')
        {
            width: 70%;
        }
        @include responsiveness('large')
        {
            width: 25%;
        }
    }
    .icon
    {
        color: darken(#F6F6F6, 60%);
        &.active
        {
            color: $PrimaryColor;
        }
    }
    .procedure
    {
        @include responsiveness('medium')
        {
            
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 3rem;
        }
        @include responsiveness('large')
        {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 5rem;
        }
    }
}

// @include responsiveness('large')
// {
//     .procedure
//     {
//         display: flex;
//         flex-flow: row wrap;
//         justify-content: center;
//         gap: 4rem;
//         margin-bottom: 5rem;
//     }
// }

ol 
{
    counter-reset: number; /*Reset Numbers*/
    list-style-type: none!important; /*Remove numbers from list*/
    padding: 0.5em;
}

ol li 
{
    position: relative;
    padding-left: 30px;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 30px;
}
  
ol li::before
{
    /* Insert Numbers */
    position: absolute;
    counter-increment: number;
    content: counter(number);
    /*Change design of Numbers*/
    display: inline-block;
    background: $PrimaryColor;
    color: #fff;
    font-family: $TextFont;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 50%;
    left: -10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /*Align in the middle vertically*/
    top: 50%;
    transform: translateY(-50%);
}