.restaurantSection
{
    background: linear-gradient(#F6F6F6, #fff);
    padding-bottom: 3rem;
    padding-top: 1.6rem;
    @include responsiveness('large') 
    {
        padding: 0;
    }
    a
    {
        text-decoration: none;
        color: #000;
    }
    &__heading
    {
        font-size: 1.2rem;
        padding: 2rem 0 1.5rem 1rem;
        
    }
    @include responsiveness('large') 
    {
        height: 80vh;
        h2
        {
            text-align: center;
            padding: 3rem 0;
            font-size: 1.5rem;
        }
    }
    
}
.restaurants
{
    @include responsiveness('large') 
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 4rem;
    }
}


.restaurant
{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    box-shadow: $boxShadowCard;
    transition: .25s;
    @include responsiveness('large') 
    {
        width: 18vw;
        height: auto;
        margin: 0;
    }
    img
    {
        width: 100%;
        border-radius: $borderRadiusCard $borderRadiusCard 0 0;
        object-fit: cover;
        height: 15vh;
        // box-shadow: $boxShadowCard;

        @include responsiveness('large')
        {
            height: 13rem;

        }
    }
    .textOnImage
    {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: $TertiaryColor;
        color: darken($TertiaryColor, 40%);
        font-size: .8rem;
        padding: .3rem 1.5rem;
        border-radius: $borderRadiusTextOnImage;
        @include responsiveness('large') 
        {
            font-size: 1rem;
            padding: .4rem 1.5rem;
        }
    }
    &:hover
    {
        transform: scale(1.02);
        box-shadow: $boxShadowCardHover;
    }

}

.restaurantInfo
{
    letter-spacing: .1px;
   
    .cityName
    {
        font-weight: 100;
        padding-top: 4px;
        font-size: .9rem;
    }
    @include responsiveness('large') 
    {
        .restautantsName
        {
            font-size: 1.2rem;
            padding: .2rem 0 .2rem .2rem;
            
        }
        .cityName
        {
            font-size: 1rem;
            padding: .2rem 0 .2rem .2rem;
        }
    }
}

.flexCard
{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    padding: .7rem;
    border-radius: 0 0 $borderRadiusCard $borderRadiusCard;
    // box-shadow: $boxShadowCard;
}


.favoriteIcon:before {
    content: '\f004';
    color: $FontColor;
    font-size: 1.5rem;
    transition: all .25s;
    font-family: 'Font Awesome 5 Free';
    font-weight: 200;
  }
  
  .favoriteIcon:hover:before
  {
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: $PrimaryColor;
  }

  .placeInMiddle
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }