.restaurantSection
{
    background: linear-gradient($BackgroundColor, #fff);
    padding-bottom: 3rem;
    padding-top: 1.6rem;
    @include responsiveness('large') 
    {
        padding: 0;
    }
    a
    {
        text-decoration: none;
        color: #000;
    }
    &__heading
    {
        font-size: 1.5rem;
        padding: 2rem 0 1.5rem 1rem;
        @include responsiveness('medium')
        {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        @include responsiveness('large')
        {
            text-align: center;
            font-size: 2rem; 
            text-align: center;
            padding: 3rem 0;
            font-size: 2rem;
            height: auto;
        }
    }   
}
.restaurants
{
    @include responsiveness('medium') 
    {
        @include FlexCenter;
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: center;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    @include responsiveness('large') 
    {
        @include FlexCenter;
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: center;
        gap: 4rem;
        margin-bottom: 5rem;
    }
}

.restaurant
{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    box-shadow: $BoxShadowCard;
    border-radius: $BorderRadiusCard;
    transition: .25s ease;
    min-width: 18rem;
    @include responsiveness('medium') 
    {
        width: 45vw;
        height: auto;
        margin: 0;
    }
    @include responsiveness('large') 
    {
        width: 18vw;
        height: auto;
        margin: 0;
    }
    &__img
    {
        width: 100%;
        border-radius: $BorderRadiusCard $BorderRadiusCard 0 0;
        object-fit: cover;
        height: 25vh;

        @include responsiveness('large')
        {
            height: 13rem;
        }
    }
    .textOnImage
    {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: $TertiaryColor;
        color: darken($TertiaryColor, 40%);
        font-size: .8rem;
        padding: .3rem 1.5rem;
        border-radius: $BorderRadiusTextOnImage;
        @include responsiveness('large') 
        {
            font-size: 1rem;
            padding: .4rem 1.5rem;
        }
    }
    &:hover
    {
        transform: scale(1.02);
        box-shadow: $BoxShadowCardHover;
    }
}

.restaurantInfo
{
    letter-spacing: .1px;

    .restautantsName
    {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .cityName
    {
        font-weight: 300;
        padding-top: 4px;
        font-size: 1rem;
    }
  
    @include responsiveness('large') 
    {
        .restautantsName
        {
            font-size: 1.2rem;
            padding: .2rem 0 .2rem .2rem; 
        }
        .cityName
        {
            font-size: 1rem;
            padding: .2rem 0 .2rem .2rem;
        }
    }
}

.flexCard
{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    padding: .7rem;
    border-radius: 0 0 $BorderRadiusCard $BorderRadiusCard;
}

.favoriteIcon
{
    position: relative;
    .icon 
    {
        &--outline
        {
            
            color: $FontColor;
            font-size: 1.5rem;
            z-index: 1;
            transition: opacity .7s ease-in;
            cursor: pointer;
            &:hover
            {
                opacity: 0;
            }
            &:hover + .icon--solid
            {
                transform: scale(1);
                z-index: 1000;
                opacity: 1;
            }
        }
        &--solid
        {       
            position: absolute;
        
            top: 0;
            right: 0;
            opacity: 0;
            font-size: 1.5rem;
            z-index: 10;
            transform: scale(0);
            transition: .3s ease-in, opacity 0s;
            &.fa-gradient 
            {
                background: -webkit-gradient(linear, left top, left bottom, from($PrimaryColor), to($SecondaryColor));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
        }
             
    }    
}

.placeInMiddle
{
    display: flex;
    justify-content: center;
    align-items: center;
}
